@model CV.Models.Kisi
<body class="bg-light" id="top">
    <header class="d-print-none">
        <div class="container text-center text-lg-left">
            <div class="pt-4 clearfix">
                <h1 class="site-title mb-0">@Model.Ad</h1>
                <div class="site-nav">
                    <nav role="navigation">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#about" title="About"><span class="menu-title">Hakkımızda</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#skills" title="Skills"><span class="menu-title">Yetenekler</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#experience" title="Experience"><span class="menu-title">İş Tecrübeleri</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#education" title="Education"><span class="menu-title">Eğitim</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#portfolio" title="Portfolio"><span class="menu-title">Portfolyo</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#references" title="References"><span class="menu-title">Referanslar</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact" title="Contact"><span class="menu-title">iletişim</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
