USE [master]
GO
/****** Object:  Database [CVDb]    Script Date: 23.06.2023 19:25:14 ******/
CREATE DATABASE [CVDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CVDb', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.WINCC\MSSQL\DATA\CVDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CVDb_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.WINCC\MSSQL\DATA\CVDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CVDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CVDb]
GO
/****** Object:  User [SIMATIC HMI VIEWER User]    Script Date: 23.06.2023 19:25:14 ******/
CREATE USER [SIMATIC HMI VIEWER User] FOR LOGIN [DESKTOP-NIJEM97\SIMATIC HMI VIEWER]
GO
/****** Object:  User [SIMATIC HMI User]    Script Date: 23.06.2023 19:25:14 ******/
CREATE USER [SIMATIC HMI User] FOR LOGIN [DESKTOP-NIJEM97\SIMATIC HMI]
GO
/****** Object:  DatabaseRole [SIMATIC HMI VIEWER role]    Script Date: 23.06.2023 19:25:14 ******/
CREATE ROLE [SIMATIC HMI VIEWER role]
GO
/****** Object:  DatabaseRole [SIMATIC HMI role]    Script Date: 23.06.2023 19:25:14 ******/
CREATE ROLE [SIMATIC HMI role]
GO
ALTER ROLE [SIMATIC HMI VIEWER role] ADD MEMBER [SIMATIC HMI VIEWER User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI VIEWER User]
GO
ALTER ROLE [SIMATIC HMI role] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI VIEWER role]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SIMATIC HMI role]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI role]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SIMATIC HMI role]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Egitims]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Egitims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Bolum] [nvarchar](150) NOT NULL,
	[Okul] [nvarchar](150) NOT NULL,
	[BaslangicTarih] [nvarchar](20) NOT NULL,
	[BitisTarih] [nvarchar](20) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Egitims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hakkimdas]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimdas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [nvarchar](1200) NOT NULL,
 CONSTRAINT [PK_dbo.Hakkimdas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HKisiselBilgilers]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HKisiselBilgilers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Baglanti] [nvarchar](150) NOT NULL,
	[Aciklama] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.HKisiselBilgilers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ikonlars]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ikonlars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NULL,
	[Baglanti] [nvarchar](max) NULL,
	[Font] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Ikonlars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iletisims]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Mesaj] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Iletisims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisis]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Resim] [nvarchar](150) NOT NULL,
	[Ad] [nvarchar](150) NOT NULL,
	[Meslek] [nvarchar](150) NOT NULL,
	[ArkaResim] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_dbo.Kisis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Konums]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Konums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Konums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolyoes]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolyoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Resim] [nvarchar](max) NULL,
	[Programlar] [nvarchar](max) NULL,
	[Baslik] [nvarchar](max) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Portfolyoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referanslars]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referanslars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Resim] [nvarchar](max) NULL,
	[Ad] [nvarchar](max) NULL,
	[Meslek] [nvarchar](max) NULL,
	[Firma] [nvarchar](max) NULL,
	[Yorum] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Referanslars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tecrubes]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecrubes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YapilanIs] [nvarchar](150) NOT NULL,
	[IsyeriAdi] [nvarchar](150) NOT NULL,
	[BaslangicTarihi] [nvarchar](20) NOT NULL,
	[Bitistarihi] [nvarchar](20) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Tecrubes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yeteneks]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yeteneks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](150) NOT NULL,
	[Seviye] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Yeteneks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Egitims] ON 

INSERT [dbo].[Egitims] ([Id], [Bolum], [Okul], [BaslangicTarih], [BitisTarih], [Aciklama]) VALUES (1, N'Elektrik-Elekttronik Mühendisliği', N'İstanbul Okan Üniversitesi', N'09/2015', N'12/2020', NULL)
INSERT [dbo].[Egitims] ([Id], [Bolum], [Okul], [BaslangicTarih], [BitisTarih], [Aciklama]) VALUES (2, N'Sayısal Bölümü', N'Eyüp Anadolu Lisesi', N'09/2011', N'06/2015', NULL)
SET IDENTITY_INSERT [dbo].[Egitims] OFF
GO
SET IDENTITY_INSERT [dbo].[Hakkimdas] ON 

INSERT [dbo].[Hakkimdas] ([Id], [Aciklama]) VALUES (4, N'Mezun olmadan önce kısa tatil dönemlerinde, olduktan sonra uzun süreler boyunca kendi alanında çalışmış ve iş
tecrübesi kazanmış bir mühendisim. Bu çalışma dönemleri boyunca yazılıma ilgimin daha fazla olduğunu fark
ettim ve kariyerime yazılım sektöründe devam etme kararı aldım. Şu anda hali hazırda İŞKUR''un, Kadıköy''de
bulunan BİLİŞİM EĞİTİM MERKEZİ''nde verdiği yazılım kursuna devam etmekteyim. Hedefim uzun yıllar boyunca
yazılım alanında çalışmaktır.')
SET IDENTITY_INSERT [dbo].[Hakkimdas] OFF
GO
SET IDENTITY_INSERT [dbo].[HKisiselBilgilers] ON 

INSERT [dbo].[HKisiselBilgilers] ([Id], [Ad], [Baglanti], [Aciklama]) VALUES (1, N'Doğum Tarihi', N'far fa-calendar-alt pe-2 text-muted', N'10/03/1997')
INSERT [dbo].[HKisiselBilgilers] ([Id], [Ad], [Baglanti], [Aciklama]) VALUES (3, N'Email', N'far fa-envelope pe-2 text-muted', N'ilkersenel5797@gmail.com')
INSERT [dbo].[HKisiselBilgilers] ([Id], [Ad], [Baglanti], [Aciklama]) VALUES (4, N'Linkedin', N'fa-brands fa-linkedin', N'https://linkedin.com/in/ilker-senel/')
SET IDENTITY_INSERT [dbo].[HKisiselBilgilers] OFF
GO
SET IDENTITY_INSERT [dbo].[Ikonlars] ON 

INSERT [dbo].[Ikonlars] ([ID], [Ad], [Baglanti], [Font]) VALUES (1, N'Twitter', N'https://twitter.com/elonmusk', N'fab fa-twitter')
INSERT [dbo].[Ikonlars] ([ID], [Ad], [Baglanti], [Font]) VALUES (2, N'Facebook', N'https://www.facebook.com/zuck/?locale=tr_TR', N'fab fa-facebook')
INSERT [dbo].[Ikonlars] ([ID], [Ad], [Baglanti], [Font]) VALUES (3, N'Github', N'https://github.com/illkkeerr', N'fab fa-github')
SET IDENTITY_INSERT [dbo].[Ikonlars] OFF
GO
SET IDENTITY_INSERT [dbo].[Iletisims] ON 

INSERT [dbo].[Iletisims] ([Id], [Ad], [Email], [Mesaj]) VALUES (1, N'ilker', N'ilkersenel18@gmail.com', N'efgsdfdsf')
INSERT [dbo].[Iletisims] ([Id], [Ad], [Email], [Mesaj]) VALUES (23, N'ilker', N'ilkersenel18@gmail.com', N'sdsd')
SET IDENTITY_INSERT [dbo].[Iletisims] OFF
GO
SET IDENTITY_INSERT [dbo].[Kisis] ON 

INSERT [dbo].[Kisis] ([Id], [Resim], [Ad], [Meslek], [ArkaResim]) VALUES (1, N'cv_foto2.jpg', N'İlker Şenel', N'Elektrik-Elektronik Mühendisi (Jr. Software Developer)', N'arkaResim.jpg')
SET IDENTITY_INSERT [dbo].[Kisis] OFF
GO
SET IDENTITY_INSERT [dbo].[Konums] ON 

INSERT [dbo].[Konums] ([Id], [Adres]) VALUES (1, N'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4315.0272389608745!2d28.8876258177214!3d41.08121393008642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab04f955b9afd%3A0x5a8a9a66f73a9375!2sYenimahalle!5e0!3m2!1str!2str!4v1687418910926!5m2!1str!2str')
SET IDENTITY_INSERT [dbo].[Konums] OFF
GO
SET IDENTITY_INSERT [dbo].[Portfolyoes] ON 

INSERT [dbo].[Portfolyoes] ([Id], [Resim], [Programlar], [Baslik], [Aciklama], [Link]) VALUES (1, N'Traveltrip.jpeg', N'Asp.Net Mvc', N'Dinamik Gezi Blok Sitesi', N'Bu proje asp.net mvc kullanılarak hazırlanmış bir projedir. Site kullanıcısı yurtiçi veya yurtdışında gezdiği yerlerin bloğunu bu sitede paylaşabilir okuyucular bu blog yazılarına yorum yazabilirler. Ayrıca iletişim bölümünden site kullanıcısına mesaj yollayabilirler', N'https://github.com/illkkeerr/Asp_.Net_Mvc_E-Ticaret_Sitesi_Katmanli_Mimari')
INSERT [dbo].[Portfolyoes] ([Id], [Resim], [Programlar], [Baslik], [Aciklama], [Link]) VALUES (2, N'cars.jpeg', N'Html-Css', N'Profesyonel Bir Websitesi Yapımı', N'Html ve Css programlarıyla responsive özelliğine sahip bir websitesi tasarımı yapılmıştır.', N'https://github.com/illkkeerr/Cars_Websitesi_1')
INSERT [dbo].[Portfolyoes] ([Id], [Resim], [Programlar], [Baslik], [Aciklama], [Link]) VALUES (3, N'kisiselweb.jpeg', N'Asp.Net Mvc', N'Kişisel Web Sitesi', N'Kullanıcının kendi ile ilgili kısa tanıtım yazabileceği ve sahip olduğu sosyal medya sitelerine yönlendirebileceği.Admin Panelli dinamik bir web sitesidir', N'https://github.com/illkkeerr/Asp.Net_Mvc_Kisisel_Website_Yapimi')
SET IDENTITY_INSERT [dbo].[Portfolyoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Referanslars] ON 

INSERT [dbo].[Referanslars] ([Id], [Resim], [Ad], [Meslek], [Firma], [Yorum]) VALUES (1, N'burak.jpeg', N'Burak Gül', N'Eğitim Koordinatörü', N'Haydarpaşa MTAL/Üsküdar İnovasyon Merkezi', N'')
INSERT [dbo].[Referanslars] ([Id], [Resim], [Ad], [Meslek], [Firma], [Yorum]) VALUES (2, N'taha.jpeg', N'Taha Konuk ', N'Analyst Developer', N'i2i Systems ', N'')
INSERT [dbo].[Referanslars] ([Id], [Resim], [Ad], [Meslek], [Firma], [Yorum]) VALUES (3, N'bayram.jpeg', N'Bayram Kısaoğlu', N'C# Yazılım Geliştirici & Bilgisayar ve Öğretim Tek. Öğrt.', N'Bilişim Eğitim Merkezi', N'')
SET IDENTITY_INSERT [dbo].[Referanslars] OFF
GO
SET IDENTITY_INSERT [dbo].[Tecrubes] ON 

INSERT [dbo].[Tecrubes] ([Id], [YapilanIs], [IsyeriAdi], [BaslangicTarihi], [Bitistarihi], [Aciklama]) VALUES (1, N'Elektrik-Elektronik Nühendisi', N'Elki Kablo', N'04/2022', N'09/2022', NULL)
INSERT [dbo].[Tecrubes] ([Id], [YapilanIs], [IsyeriAdi], [BaslangicTarihi], [Bitistarihi], [Aciklama]) VALUES (2, N'Makine Operatörü', N'Nova Elektrik', N'11/2020', N'04/2022', NULL)
INSERT [dbo].[Tecrubes] ([Id], [YapilanIs], [IsyeriAdi], [BaslangicTarihi], [Bitistarihi], [Aciklama]) VALUES (3, N'Makine Operatörü', N'Hartek', N'(06/2018 - 09/2018) ', N' (07/2019 - 09/2019)', NULL)
SET IDENTITY_INSERT [dbo].[Tecrubes] OFF
GO
SET IDENTITY_INSERT [dbo].[Yeteneks] ON 

INSERT [dbo].[Yeteneks] ([Id], [Ad], [Seviye]) VALUES (1, N'C#', 85)
INSERT [dbo].[Yeteneks] ([Id], [Ad], [Seviye]) VALUES (2, N'C', 80)
INSERT [dbo].[Yeteneks] ([Id], [Ad], [Seviye]) VALUES (3, N'MSSQL(TSQL)', 75)
SET IDENTITY_INSERT [dbo].[Yeteneks] OFF
GO
ALTER TABLE [dbo].[HKisiselBilgilers] ADD  DEFAULT ('') FOR [Aciklama]
GO
ALTER TABLE [dbo].[Kisis] ADD  DEFAULT ('') FOR [ArkaResim]
GO
/****** Object:  DdlTrigger [OnTriggerDboSchema]    Script Date: 23.06.2023 19:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [OnTriggerDboSchema] ON database FOR create_table, create_view AS BEGIN   DECLARE @xmlEventData xml   SELECT    @xmlEventData = eventdata()   DECLARE @schemaName nvarchar(max)   DECLARE @objectName nvarchar(max)   DECLARE @DynSql nvarchar(max)      SET @schemaName    = convert(nvarchar(max), @xmlEventData.query('/EVENT_INSTANCE/SchemaName/text()'))   SET @objectName    = convert(nvarchar(max), @xmlEventData.query('/EVENT_INSTANCE/ObjectName/text()'))   IF(@schemaName='')   BEGIN     SET @DynSql = N'alter schema [dbo] transfer [' + @schemaName + N'].[' + @objectName + N']'     EXEC sp_executesql @statement=@DynSql   END END SET QUOTED_IDENTIFIER ON SET ANSI_NULLS ON 
GO
ENABLE TRIGGER [OnTriggerDboSchema] ON DATABASE
GO
USE [master]
GO
